<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css">      
        <style>
            body{
                margin:0px;
                border:0px;
                gap:6rem;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            #topbar{
                display: flex;
                flex-direction: row;
                align-items:flex-end;
                justify-content: space-between;

            }
            #lefttop{
                display:flex; 
                flex-direction:row;
                align-items:flex-end; 
            }
            #pre1, #span1{
                font-size: large;
                font-weight:bold;
            }
            #sidebar{
                color:rgb(52, 47, 47);
                background-color: white;
                display:flex;;
                flex-direction:column;
                height:450px;
                width:300px;
                border-radius:5px;
                box-shadow: 5px 5px 20px;
            }
            .divT{
                display:flex;
                flex-direction: row;
                width:98vw;
                height:max-content;
                flex-wrap: wrap;
                gap:5rem;
                /*justify-content: flex-start;*/
            }
            a{
                text-decoration: none;
                color:rgb(52, 47, 47);
            }
            #span1{
                cursor: pointer;
            }

            #regs{
                /* border: 2px solid black; */
                width:700px;
                height: 450px;
                padding-left:5%;
                border-radius:10px;
                box-shadow:5px 5px 20px;

            }
            #boxText{
                color:white;
                font-size: larger;
            }
            #cpre{
                line-height: 1.5px;
            }
            #contact{
            float:bottom;
          }
          #regis{
            display:flex;
            flex-wrap:wrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap:4rem;

          }
        input{
            width:max-content;
            height:28px;
        }
        label{
            font-size: larger;

        }
        #bt_n{
            border-radius:10px;
            width:100px;
            height:40px;
            cursor:pointer;
            margin-top:-5%;
            text-align:center;
            position:relative;
            left:20vw;
            top:-5vh;
            font-size: larger;
            background-color: blue;
            color:white;
            font-weight: bold;
        }
        .txt{
            position:relative;
            top:5vh;
        }
        </style>
    </head>
    <body>
        <div class="main">
        <div id="topbar">
            <img src="https://www.vishnu.edu.in/upload_news/newlogo.bmp" width="60px" height="60px">
            <div id="lefttop">
            <pre id="pre1"><%= name %></pre>&nbsp;&nbsp;&nbsp;
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width="60px" height="60px">
            </div>
            </div>
            <br>
            <div class="divT">
        <div style="margin-left:5px; margin-top: 8px;" id="sidebar">
           <p>&nbsp;&nbsp;<i class="fa fa-dashboard" style="font-size:20px"></i>&nbsp; &nbsp;<span id="span1"><a href="/user/dashboard">Dashboard</a></span></p>
            <br>
            <hr style="width:290px; float:left;margin-top:-15px;">
            <p>&nbsp;&nbsp;<i class="fa-solid fa-pen-to-square" style="font-size:20px"></i>&nbsp;&nbsp;<span id="span1"><a href="/userComplaint">Register Complaint</a></span></p>
            <br>
            <hr style="width:290px; float:left;margin-top:-15px;">
            <p>&nbsp;&nbsp;<i class="fa fa-history" aria-hidden="true" style="font-size:20px"></i>&nbsp;&nbsp;<span id="span1"><a href="/complaintHistory">Complaints History</a></span></p>
            <br>
            <hr style="width:290px; float:left;margin-top:-15px;">
            <p>&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true" style="font-size:20px"></i>&nbsp;&nbsp;<span id= "span1"><a href="#contact">Contact</a></span></p>
            <br>
            <hr style="width:290px; float:left;margin-top:-15px;">
            <p>&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true" style="font-size:20px"></i>&nbsp;&nbsp;<span id="span1"><a href="/logout">Logout</a></span></p>
            <br>
            <hr style="width:290px; float:left;margin-top:-15px;">

        </div>

        <div id="regs">
            <h2 style="color:brown">Register your complaint</h2>
            <form method="post" action="/check">
                <center id="regis">

                <label for="usernamec">Full name
            <input type="text" id="fullname" name="usernamec" placeholder="enter your name" required autofocus></label>
            <label for="rollNum">Register number
            <input type="text" name="rollNum" placeholder="enter your regd no" required></label>
            <label style="margin-top:-5%;" for="institution_name">Institution name
            <select name="institution_name">
                <option value="VIT">VIT</option>
                <option value="SVECW">SVECW</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Degree">Degree</option>
                <option value="Polytechnic">Polytechnic</option>
            </select></label>
            <label style="margin-top:-5%;" for="Area">Area
            <input list="areas" name="area" id="area" placeholder="Enter Area name" required>
            <datalist id="areas">
                <option value="College Compound">
                <option value="Block-A">
                <option value="Block-B">
                <option value="Block-C">
                <option value="Canteen-Road">
                <option value="Library">            
            </datalist></label>
            <br>
            <label style="margin-top:-5%;" for="complaint_name">Complaint
            <input list="complaint_names" name="complaint_name" id="complaint_name" placeholder="--select--">
            <datalist id="complaint_names">
                <option value="Electricity">
                <option value="Water Stagnation">
                <option value="Stable Wifi">
                <option value="Lab equipments">
            </datalist></label>
<br>
            <label style="margin-top:-10%;" for="explain">Explain the issue
            <!-- <input type="text" name="explain" placeholder="describe the issue" required></label> -->

            <textarea class="txt" type="text"name="explain" rows="4" cols="50" placeholder="describe the issue"></textarea></label>
           <br>
           <center>
            <button id="bt_n"type="submit">Submit</button>
        </center>
            <br>
            </center>  
            </form>

        </div>
        </div>
        <center>
        <div id="contact">
            <h5>Contact address</h5>
            <pre id="cpre">email us at: vcomplaints@vishnu.edu.in</pre>
            <pre id="cpre">visit us at: <i>student affairs Office, Block-A, VITB</i></pre>
            </div>
        </center>         
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>
      <% if(locals.popup) {%>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
    Swal.fire({
      title: 'Registered',
      text: 'We will resolve it  very soon',
      icon: 'success',
    });
  });
        </script>
    <% } %>
</body>
</html>